

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #0077cc;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
}

header nav a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    height: calc(100vh - 60px); /* Hauteur de l'écran - header */
}

.sidebar {
    width: 200px;
    background-color: #003366;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
    font-size: 22px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.content {
    flex: 1;
    background-color: white;
    padding: 30px;
}

.content h1 {
    color: #003366;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    color: #333;
}


--

